# Telegram API sozlamalari (ixtiyoriy, agar o'zingizniki bo'lmasa standart qiymatlar ishlaydi)
# my.telegram.org dan olishingiz mumkin
TELEGRAM_API_ID=2040
TELEGRAM_API_HASH=b18445342b3bc5c55dd3fb4908c44ec1

# Kutish intervallari (soniyalarda)
MIN_DELAY_BETWEEN_ACCOUNTS=15
MAX_DELAY_BETWEEN_ACCOUNTS=35
MIN_DELAY_BETWEEN_TASKS=3
MAX_DELAY_BETWEEN_TASKS=7

# Har kuni avtomatik ishga tushish vaqti
AUTO_RUN_TIME=03:00
